@media screen and (min-width: 768px) {
    .lines-white:after , .lines-white:before {
        content: "";
        width: 90px;
        height: 3px;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
    }
    .lines-black:after , .lines-black:before {
        content: "";
        width: 90px;
        height: 3px;
        background-color: black;
        display: inline-block;
        vertical-align: middle;
    }

    .lines-white-short:after , .lines-white-short:before {
        content: "";
        width: 50px;
        height: 3px;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
    }
    .lines-black-short:after , .lines-black-short:before {
        content: "";
        width: 45px;
        height: 3px;
        background-color: black;
        display: inline-block;
        vertical-align: middle;
    }

    .circleBg {
        border: 1px solid white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 5px;
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .lines-white:after , .lines-white:before {
        content: "";
        width: 90px;
        height: 3px;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
    }
    .lines-black:after , .lines-black:before {
        content: "";
        width: 100px;
        height: 3px;
        background-color: black;
        display: inline-block;
        vertical-align: middle;
    }

    .lines-white-short:after , .lines-white-short:before {
        content: "";
        width: 90px;
        height: 3px;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
    }
    .lines-black-short:after , .lines-black-short:before {
        content: "";
        width: 90px;
        height: 3px;
        background-color: black;
        display: inline-block;
        vertical-align: middle;
    }
}